    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <!-- <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Category</h3>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Graphic Design</a></li>
              <li><a href="#">Web Developers</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div> -->
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="{% url 'jobapp:about' %}">About Us</a></li>
              <!-- <li><a href="#">Career</a></li> -->
              <!-- <li><a href="#">Support</a></li>
              <li><a href="#">Privacy</a></li> -->
              <li><a href="#">Terms of Service</a></li>
              <!-- <li><a href="#">Blog</a></li>
              <li><a href="#">Resources</a></li> -->
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><b>Head Office:</b> Nayabazar,Ktm</li>
              <li><b>Mobile:</b> 9849144003, 9865005050</li>
              <li><b> For Companies:</b> info@vacancynepal.com<br></li>
              <li><b> For Job Seekers:</b> jobs@vacancynepal.com </li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="https://www.facebook.com/Vacancy-Nepal-111082494828963/" target="_blank"><span class="icon-facebook"></span></a>
              <a href="https://www.twitter.com/nepal_vacancy" target="_blank"><span class="icon-twitter"></span></a>
              <br>
              <a href="https://www.instagram.com/vacancynepalpost/" target="_blank"><span class="icon-instagram"></span></a>
              <a href="https://www.tiktok.com/@vacancynepalinfo" target="_blank"><span class="icon-tumblr"></span></a>
            
            </div>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <div>
              <h3>Find Us Here</h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.7086246105027!2d85.30245963926559!3d27.71668302027626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb195a6705962d%3A0xc476df717c780e11!2sVacancy%20Nepal!5e0!3m2!1sen!2snp!4v1649141460131!5m2!1sen!2snp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>  
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <a>Vacancy Nepal</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>