
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');"
  id="home-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
<section>
    <!-- About Us Template html code -->
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'images/quote.png' %}" alt="">
                <h2 class="section-title" style="text-align: center;">About Us</h2>
                <p class="section-lead">
                    Hiring the right candidate for your company is a big decision to take as employees are a deciding factor in company performance. Likewise, being hired in the right place and the right position is key to a good career.
                </p>
                <p>
                    To lead the Internet employment industry in Nepal by providing innovative information, superior resume management software and a comprehensive selection of services.
                </p>
            </div>
            <div class="col-lg-6">
                
                <div class="about-img">
                    <img src="{% static 'images/quote.png' %}" alt="">
                </div>
                <h2 class="section-title" style="text-align: center;">What We Do</h2>
                <p class="section-lead">
                    We are more than just a job site. From the web, to mobile, to social media tools and apps, we service companies of all sizes to find the right fit using most advanced technology in Nepal.
                </p>
                <p>
                    Providing recruitment solutions to employers finding, fostering and preparing the right candidates in every possible ways with an effective tracking system and a dedicated team of customer service.
                </p>

            </div>  
  </section>
  


</section>

{% endblock content %}